{so_name, "basho_metrics_nifs.so"}.

{port_sources, ["c_src/*.cpp"]}.

{port_envs, [
			 %% LOWER OPTIMIZATION
			 %%
			 %% This is done because of strange behaviour when nifs get compiled 
			 %% with GCC 4.6.1 (Ubuntu/Linaro 4.6.1-9ubuntu3). In a scenario when 
			 %% module suffering from huge amount of concurrent updates for some
			 %% time I get into segfaults constantly unless -O1 is not turned on.
			 %%
			 {"CFLAGS", "$CFLAGS -O1"},
			 {"DRV_CFLAGS", "$DRV_CFLAGS -O1"},

			 {"CFLAGS", "$CFLAGS -fPIC"},
			 {"DRV_CFLAGS", "$DRV_CFLAGS -Ic_src/boost -Ic_src/boost.atomic"},
			 {"DRV_LDFLAGS", "$DRV_LDFLAGS -lstdc++"}
			 ]}.
